body {
	font-family: 'Hind Madurai', sans-serif;
	font-size: 14px;
	letter-spacing: 0.2px;
	/* background-color: #14679E; */
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Archivo Black', sans-serif;
	letter-spacing: -2px;
}

h3 {
	clear: both;
	border-bottom: 1px solid rgba(127,182,217,1);
	padding-bottom: 0px;
	margin-bottom: 20px;
}

p {
	font-size: 1.1em;
	letter-spacing: -0.2px;
}

.header {
  text-align: center;
  background: #074E68;
  background-size: cover;
  position: relative;
  overflow: hidden;
  max-height: 120px;
}

.header .headline {
	color: #FFE;
}

header > .banner-container {
	width: 100%;
}

header > .banner-container > img {
	width: 100%;
	height: auto;
}

.title-bar-left,
.title-bar-left a {
	font-family: 'Archivo Black', sans-serif;
	letter-spacing: -0.6px;
	font-weight: bold;
	font-size: 22px;
	line-height: 40px;
	color: #FFF;
	text-decoration: none;
	flex: 1 1 35px;
}

.title-bar-right {
	flex: 2 1 0px;
}

.main-menu-item > a {
	font-family: 'Archivo Black', sans-serif;
	color: #FFF;
}

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%; 
}
.header-subnav li {
  float: none;
  display: inline-block; 
}
.header-subnav li a,
.header-subnav li a:visited {
  padding: 0.9rem 1rem;
  font-size: 0.75rem;
  /* color: #FFE; */
  color: #14679e;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out; 
}
.header-subnav li a.is-active {
  background: rgba(250, 250, 250, 0.15); 
}
.header-subnav li a:hover {
  background: rgba(250, 250, 250, 0.15);
  transition: all 0.35s ease-in-out; 
}

.search-input {
	width: 20%;
	float: right;
}

.menu input {
	border: none;
	font-family: 'Archivo Black',sans-serif;
	font-size: 0.8rem;
	text-align: center;
}

.menu button {
	margin-top: -3px;
	border: none;
	padding: 13px;
	font-family: 'Archivo Black',sans-serif;
	font-size: 14px;
}

.is-submenu-item {
	text-align: center;
}

.is-submenu-item:hover {
	background-color: #1779ba;
}

.is-submenu-item a,
.is-submenu-item a:visited {
	font-size: 14px;
	color: #14679e;
}

.is-submenu-item A:hover {
	color: #FFF;
}

div.grid-x.main-content-well {
	background-color: #FFF;
}

.editcolumn {
  padding-top: 11.5em;
  font-size: 10px;
}

.editcolumn a {
  color: #000;
  font-style: italic;
}

.editcolumn a:after {
	content: ' | ';
}

.editcolumn a:last-of-type:after {
	content: '';
}

#toc {
	display: none;
}

.mw-parser-output P {
	clear: left;
}

.mw-content-ltr .mw-editsection, 
.mw-content-rtl .mw-content-ltr .mw-editsection {
	display: none;
}

.mw-editsection-bracket,
.mw-editsection > a {
	font-family: 'Hind Madurai', sans-serif;
	font-size: 14px;
	letter-spacing: 0.2px;
	font-weight: 400;
}

.mw-references-wrap {
	margin-bottom: 5em;
}

.mw-category-generated #mw-pages {
	margin-top: 3rem;
}

.mw-category-generated .mw-category {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-width: 24em;
	-moz-column-width: 24em;
	column-width: 24em;
}

.mw-category-generated .mw-category .mw-category-group {
	margin-bottom: 1rem;
}

.mw-category-generated .mw-category .mw-category-group ul {
	/*
	display: flex;
	flex-wrap: wrap;
	*/
	column-count: 2;
	column-width: 24rem;
}

.mw-category-generated .mw-category .mw-category-group li {
	width: 50%;
}
	

#mw-subcategories > p,
#mw-pages > P {
	display: none;
}

.feat-banner-img {
	width: 100%;
}

H1 {
	border: none;
}

h1.page-header {
	font-size: 4rem;
	padding-bottom: 20px;
}

.mw-content-ltr ul, 
.mw-content-rtl .mw-content-ltr ul {
	margin: 0.3em 0 0.3em 1.6em;
}

div.sidebar {
	width: 200px;
	background-color: #7FB6D9;
	
}

div.sidebar.float-right {
	margin-left: 15px;
}

div.sidebar.float-left {
	margin-right: 15px;
}

.sidebar HR {
	border-bottom: 1px solid #FFF;
}

.sidebar-header {
	padding: 10px;
	/*border-bottom: 1px solid #FFF;*/
	margin-bottom: 5px;
}

.sidebar-content {
	padding: 5px;
	font-size: 12px;
	text-transform: lowercase;
}

.sidebar H1 {
	font-size: 1.5em;
	font-weight: bold;
	color: #FFF;
	letter-spacing: -2px;
	text-transform: uppercase;
	/*text-align: center;*/
}

.sidebar H3 {
	font-size: 1.6em;
	font-weight: bold;
	color: #FFF;
	letter-spacing: -2px;
	text-transform: uppercase;
	border-bottom: 1px solid #FFF;
	margin-top: 5px;
}

#mw-hidden-catlinks {
	display: none;
}

#footer {
	background-color: #14679E;
	color: #FFF;
	margin-top: 10px;
	padding-top: 20px;
}

#footer H3 {
	font-size: 30px;
	font-weight: bold;
	border-bottom: 1px solid white;
	margin-bottom: 0.5rem;
	letter-spacing: 0px;
	text-transform: none;
}

#footer P {
	font-size: 0.8em;
	line-height: 1.2em;
}

#footer .columns {
	padding: 0 20px 0 20px;
}
#footer UL {
	list-style-type: none;
	margin-left: 0px;
}
#footer UL LI {
	color: #FFF;
}
#footer A {
	color: #FFF;
}

.footer-basic-wrapper {
	width: 100%; 
	margin-right: auto; 
	margin-left: auto; 
	clear: both; 
	border: 1px solid rgba(87,151,193,1);
}

.footer-basic-header {
	text-align: center; 
	background-color: rgba(87,151,193,1); 
	color: #000; 
	padding-top: 0px; 
	padding-bottom: 0px;
	margin: 5px;
}

.footer-basic-header P {
	background-color: rgba(87,151,193,1);
	margin: 5px 5px 0;
	padding: 5px;
}

.footer-basic-header a,
.footer-basic-header a.new {
	font-family: 'Archivo Black',sans-serif;
	color: #FFF;
	font-weight: bold;
	font-size: 1.5em;
}

.footer-basic-body {
	padding-top: 10px; 
	text-align: center;
}

.footer-basic-body a,
.footer-basic-body a.new {
	color: #000;
}

.footer-basic-body .footer-subhead {
	font-family: 'Archivo Black',sans-serif;
	font-size: 0.9em;
}

.size-full {
	width: 100%;
	clear: both;
}

.size-half {
	width: 49%;
}

.size-half.clear {
	clear: both;
}

.size-half.left {
	float: left;
}

.size-half.right {
	float: right;
}

/* Charts */
div.statschart {
	margin-bottom: 2em;
}

/* Sidebars */

.company-sidebar {
	width: 250px;
	border: 1px solid rgba(127,182,217,1);
	padding: 5px;
}

.company-sidebar-header {
	background: rgba( 87,151,193,1);
	color: #FFF;
}

.company-sidebar-body {
	padding: 0 5px;
}

.company-sidebar-body h4 {
	font-size: 22px;
	margin: 22px auto;
	padding: 2px 0;
	text-align: center;
	border-bottom: 1px solid rgba( 87,151,193,1);
	border-top: 1px solid rgba( 87,151,193,1);
}

.company-sidebar-body hr {
	display: none;
}

.sidebar-float-left {
	float: left;
	clear: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.sidebar-float-right {
	float: right;
	clear: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.helpHeader h4 {
	cursor: pointer;
}

.helpBody code.stats-demo {
	display: block;
	margin: 10px 0;
	text-align: center;
}

.helpBody img.half {
	width: 50%;
	margin: 0 auto;
	display: block;
}


.episode-update-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 1px solid rgba(255,189,107,1);
	padding: 0.5rem;
	margin-bottom: 1.5rem;
	/* box-shadow: 5px 5px 15px #333; */
}

.episode-update-container .update-header {
	width: 100%;
	text-align: center;
	padding: 0.5rem 0;
	margin-bottom: 0.5rem;
	background-color: rgba(255,189,107,1);
	/* border-bottom: 1px solid #14679E; */
}

.episode-update-container .update-header a {
	font-size: 1.3rem;
	font-weight: bold;
	color: #FFF;
	font-family: 'Archivo Black',sans-serif;
}

.episode-update-container .update {
	width: 49%;
	padding: 0.5rem 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.episode-update-container .update > a {
	font-weight: bold;
	display: block;
	background-color: rgba( 31,103,149,1);
	color: #FFF;
	padding: 0.2em 0.5em;
	width: 98%;
	font-family: 'Archivo Black',sans-serif;
}

.episode-update-container .update ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0.5em;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 1px solid rgba(255,176,76,1);
	width: 95%;
}

.episode-update-container .update ul li {
	display: block;
}

.episode-update-container .update ul li:after,
.episode-update-container .update-footer ul li:after {
	content: "\2014";
	padding: 0 0.5rem;
}

.episode-update-container .update ul li:last-child:after,
.episode-update-container .update-footer ul li:last-child:after {
	content: "";
}

.episode-update-container .update ul li a {
	color: rgba( 31,103,149,1);
	font-weight: normal;
}

.episode-update-container .update-footer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.episode-update-container .update-footer ul {
	list-style: none;
	margin: 0;
	margin-left: 1rem;
	padding: 0;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
	
.episode-update-container .update-footer ul li {
	display: block;
}

/* Small screens */
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {

	.header {
		background-position: inherit;
	}

	h1.page-header {
		font-size: 2rem;
		padding-top: 20px;
		padding-bottom: 0px;

	}

	.size-half {
		width: 100%;
	}
	
	.size-half.left {
		float: none;
	}
	
	.size-half.right {
		float: none;
	}

	.sidebar-float-left, 
	.sidebar-float-right {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		float: none;
	}

	.sidebar-float-left .company-sidebar, 
	.sidebar-float-right .company-sidebar {
		margin: 0 auto;
		margin-bottom: 2em;
	}

	.episode-update-container .update {
		width: 100%;
	}

 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

 @media only screen and (max-width: 64em) {

	.title-bar-left, .title-bar-left a {
		font-size: 1em;
	}
}

/* Medium screens */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
